#countdown {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
}

.countdown {
    position: relative;
}

.premiere {
    margin-top: 20px;
    background-color: #eaeaea;
    padding: 100px 20px;
    border-radius: 25px;
    color: black;
    text-align: center;
}

.btn-signup {
    border-radius: 25px !important;
    padding: 8px 30px;
    font-weight: bold;
    outline: none !important;
    border: none !important;
    background-color: #F65C5C;
    color: white;
}

    .btn-signup:focus,
    .btn-signup:hover,
    .btn-signup:active {
        outline-style: none !important;
        box-shadow: none !important;
        border: none !important;
        color: white;
    }


.btn-signin {
    border-radius: 25px !important;
    padding: 8px 10px;
    font-weight: bold;
    outline: none !important;
    border: none !important;
    background-color: transparent;
    color: #000;
}

    .btn-signin:focus,
    .btn-signin:hover,
    .btn-signin:active {
        outline-style: none !important;
        box-shadow: none !important;
        border: none !important;
        color: #F65C5C;
    }

input {
    border-bottom: 3px solid black !important;
    outline: none !important;
    border-radius: 0 !important;
}

    input:focus {
        box-shadow: none !important;
    }

.search-btn:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    outline-style: none !important
}
