@model DS.CineLabs.Common.Models.Movies.GetMovieModel

@{
    Layout = null;
}

<html>
<head>
    <title>CineLabs - Delete Movie</title>
    <link rel="icon" href="https://i.imgur.com/SekUp6m.png">
    <link rel="stylesheet" href="~/css/dashboard.css" />
    <script type="text/javascript" src="~/js/dashboard.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Open+Sans+Condensed:wght@300&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    
    <header class="page-header">
        <nav>
            <a href="/admin/dashboard" aria-label="forecastr logo" class="logo">
                <span style="font-size:25px;">CineLabs</span>
            </a>
            <ul class="admin-menu">
                <li class="menu-heading">
                    <h3>Dashboard</h3>
                </li>
                <li class="text-white">
                    <a class="dropdown-item text-white" asp-controller="Home" asp-action="Index">User UI</a>
                </li>
                <li class="text-white">
                    <a class="dropdown-item text-white" asp-area="" asp-controller="Category" asp-action="GetAllCategories">Category</a>
                </li>
                <li class="text-white">
                    <a class="dropdown-item text-white" asp-area="" asp-controller="Review" asp-action="GetAllReviews">Review</a>
                </li>
                <li class="text-white">
                    <a class="dropdown-item text-white" asp-area="" asp-controller="MovieDetails" asp-action="GetAllMovieDetails">Movie Details</a>
                </li>
                <li class="text-white">
                    <a class="dropdown-item text-white" asp-area="" asp-controller="Movies" asp-action="GetAllMovies">Movies</a>
                </li>
                <li class="text-white">
                    <a class="dropdown-item text-white" asp-area="" asp-controller="Ticket" asp-action="GetAllTickets">Ticket</a>
                </li>
                
                
                
            </ul>
        </nav>
    </header>
    <section class="page-content">
        <section class="search-and-user">
            
            <div class="admin-profile">
                <span class="greeting">Hello admin</span><i class="fas fa-user-circle" style="font-size:25px;"></i>
            </div>
        </section>

        <div class="container-fluid">

            <form asp-action="DeleteMovieByIdPost" asp-controller="movies" method="post">
                <input asp-for="Id" hidden />
                <div class="book-container">
                    <div class="hehe">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Delete</h4>
                                </div>

                                <div class="modal-body">
                                    Are you sure you want to delete this record?
                                </div>

                                <div class="modal-footer">
                                    <div><a class="btn btn-secondary" asp-controller="Movies" asp-action="GetAllMovies">No</a></div>
                                    <div><button type="submit" class="btn btn-danger">Yes</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </section>
    
</body>
</html>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



